@import 'https://fonts.googleapis.com/css?family=Satisfy';

body, main {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h1, p, span {
    font-family: 'Satisfy', sans-serif;
}

a {
    text-decoration: none; /*CSS 下划线效果：无下划线 */
}

a:hover {
    text-decoration: underline;
}

.logo {
    margin-bottom: 1em;
    margin-top: 3em;
}

.content {
    margin: 30px;
}
