<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>「One 一个」</title>
    <link rel="stylesheet" type="text/css" href="../css/semantic.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="../asset/favicon.png">
    <!--仅供学习交流使用-->
</head>

<body>
    <div id="app">
        <!-- <div class="ui basic very padded segment">
            <div class="ui three stackable cards">
                <div class="card" v-if="detail.data.content_list.length !==0" v-for="item in detail.data.content_list">
                    <div class="image">
                        <img class="ui medium image" v-bind:src="item.img_url">
                    </div>
                    <div class="content">
                        <p class="title">{{item.forward}}</p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="ui hidden divider"></div>
        <div class="ui raised padded  text container segment">
            <div v-bind:class="get_load_status()">
                <div class="ui text loader">Loading</div>
            </div>

            <div class="ui large header">{{essay.data.hp_title}}</div>
            <div v-html=essay.data.hp_content></div>
        </div>
        <div class="ui hidden divider"></div>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script src="one.js"></script>
</body>

</html>
