
.bottom {
    margin: 4rem;
    line-height: 0.3rem;
}

.image {
    width: 100%;
    height: 100%;
    display: block;
}

.warp_image {
    margin-top: 0.5rem;
}

.title {
    padding: 1.0rem;
    color: #ffb6c1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

#app {
    margin: 0 auto; /* 居中 这个是必须的，，其它的属性非必须 */
    width: 50.0rem; /* 给个宽度 顶到浏览器的两边就看不出居中效果了 */
    text-align: center; /* 文字等内容居中 */
    padding-bottom: 1.0rem;
}